.products-container {
    margin: 75px 0;
    .sec-heading {
        margin-bottom: 35px;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        &:after {
            content: "";
            display: block;
            margin-top: 10px;
            width: 50px;
            height: 3px;
            background-color: #8e2de2;
        }
    }
    .products {
        display: flex;
        flex-flow: wrap;
        gap: 20px;
    }
}
