.newsletter-section {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    background: #f9f9f9 url("../../../assets/newsletter-bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .newsletter-content {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        .text {
            margin-bottom: 20px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.5);
        }
        .small-text {
            margin-bottom: 15px;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.5);
        }
        .big-text {
            margin-bottom: 20px;
            font-size: 28px;
            font-weight: 500;
            text-transform: uppercase;
        }
        .form {
            display: flex;
            gap: 5px;
            margin-bottom: 10px;
            input {
                width: 300px;
                height: 40px;
                border-radius: 0;
                border: 1px solid rgba(0, 0, 0, 0.2);
                padding: 0 12px;
                font-size: 16px;
                outline: none;
            }
            button {
                outline: 0;
                border: 0;
                height: 40px;
                width: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 16px;
                color: white;
                background: #8e2de2;
                border-bottom: 3px solid #6516aa;
            }
        }
        .social-icons {
            display: flex;
            gap: 10px;
            .icon {
                width: 30px;
                height: 30px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}
