@import "../../css-config/mixins.scss";

.main-header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1;
    color: #212121;
    z-index: 99;
    background-color: white;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    .left {
        list-style-type: none;
        display: flex;
        gap: 25px;
        li {
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    .center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 28px;
        font-weight: 700;
        cursor: pointer;
    }
    .right {
        display: flex;
        align-items: center;
        gap: 25px;
        svg {
            cursor: pointer;
        }
    }
    &.sticky-header {
        background-color: #212121;
        color: white;
        position: sticky;
        top: 0;
        transform: translateY(-60px);
        animation: StickyHeader 0.3s ease forwards;
    }
}

@keyframes StickyHeader {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0);
    }
}
