@import "../../css-config/mixins.scss";

.main-header {
    width: 100%;
    padding: 0 40px;
    z-index: 1;
    z-index: 99;
    // background-color: white;
    // color: #212121;
    background-color: #212121;
    color: white;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .left {
        list-style-type: none;
        display: flex;
        gap: 25px;
        li {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                opacity: 0.6;
            }
        }
    }
    .center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 34px;
        font-weight: 700;
        cursor: pointer;
    }
    .right {
        display: flex;
        align-items: center;
        gap: 25px;
        svg {
            cursor: pointer;
            &:hover {
                opacity: 0.6;
            }
        }
        .cart-icon {
            position: relative;
            span {
                min-width: 20px;
                text-align: center;
                background: #8e2de2;
                padding: 2.5px;
                position: absolute;
                top: -5px;
                right: -12px;
                font-size: 12px;
                line-height: 1;
                border-radius: 10px;
            }
        }
    }
    &.sticky-header {
        background-color: #212121;
        color: white;
        position: sticky;
        top: 0;
        transform: translateY(-60px);
        animation: StickyHeader 0.3s ease forwards;
    }
}

@keyframes StickyHeader {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0);
    }
}
