.product-card {
    cursor: pointer;
    width: 275px;
    .thumbnail {
        width: 275px;
        height: 275px;
        background-color: rgba(0, 0, 0, 0.05);
        margin-bottom: 10px;
        padding: 25px;
        img {
            transition: all ease 0.3s;
            display: block;
            width: 100%;
        }
    }
    .prod-details {
        .name {
            display: block;
            margin-bottom: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .price {
            font-size: 24px;
        }
    }
    &:hover {
        .thumbnail {
            img {
                transform: scale(1.2);
            }
        }
    }
}
