.footer {
    width: 100%;
    .footer-content {
        padding: 50px 0;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .col {
            max-width: 300px;
            .title {
                margin-bottom: 20px;
                font-size: 20px;
            }
            .text {
                color: rgba(0, 0, 0, 0.5);
                font-size: 14px;
            }
            .c-item {
                display: flex;
                margin-bottom: 10px;
                svg {
                    flex-shrink: 0;
                    font-size: 14px;
                    margin-right: 10px;
                    margin-top: 4px;
                    color: rgba(0, 0, 0, 0.5);
                }
            }
            span {
                &.text {
                    display: block;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
            }
        }
    }
    .bottom-bar {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        .bottom-bar-content {
            height: 60px;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .text {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}
