.shop-by-category {
    margin: 50px 0;
    .categories {
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        .category {
            background-color: black;
            width: calc(25% - 10px);
            cursor: pointer;
            overflow: hidden;
            img {
                width: 100%;
                display: block;
                transition: all ease 0.3s;
            }
            &:hover {
                img {
                    transform: scale(1.2);
                    // opacity: 0.5;
                }
            }
        }
    }
}
